@font-face {
  font-family: 'mark423-player';
  src:url('[root_url]fonts/mark423-player.eot');
  src:url('[root_url]fonts/mark423-player.eot?#iefix') format('embedded-opentype'),
    url('[root_url]fonts/mark423-player.woff') format('woff'),
    url('[root_url]fonts/mark423-player.ttf') format('truetype'),
    url('[root_url]fonts/mark423-player.svg#mark423-player') format('svg');
  font-weight: normal;
  font-style: normal;
}

div#mark423-player { 
  line-height: 1;
}

div#mark423-playlist {
  font: 14px arial;
}
div#mark423-player div.jp-progress{ 
  height:13px; 
  cursor:pointer; 
  border:1px solid gray;
  overflow:hidden;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}

div#mark423-player div.jp-seek-bar{background-color:#CCCCCC;}
div#mark423-player div.jp-play-bar{background-color:#DD4B39;}

div#mark423-player div.jp-play-pause {
  width:70px;
  height:70px;
  background-color:#f5f5f5;
  border:1px solid #e5e5e5;
   -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  -khtml-border-radius: 35px;
  border-radius: 35px;
  text-align:center;
  vertical-align:middle;  
  float:left;
  margin-top:10px;
}

div#mark423-player div.jp-play-pause a {
  display:block;
  width:100%;
  height:100%;
  color:#DD4B39;
  text-decoration:none;
  font-family: 'mark423-player';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  padding-top: 11px;
  font-size:45px;
}

div#mark423-player div.jp-volume-controls{
  height:13px;
  float:right;
}

div#mark423-player div.jp-volume-bar-value{
  background-color:#DD4B39;
}

div#mark423-player div.jp-volume-bar{
  display:inline-block;
  width:100px;
  height:13px; 
  cursor:pointer; 
  border:1px solid gray;
  overflow:hidden;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  vertical-align:top;
}

div#mark423-player div.jp-mute, div#mark423-player div.jp-unmute {
  font-family: 'mark423-player';
  font-size:20px;
  color:#DD4B39;
  display:inline;
  margin-left:20px;
  margin-right:10px;
  cursor:pointer;
}


div#mark423-player div.jp-eject {
  float:right;
  margin-top:43px;
  text-align:center;
  padding-top:13px;
  width:50px;
  height:37px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
  font-family: 'mark423-player';
  background-color:#f5f5f5;
  font-size:21px;
  cursor:pointer;
}

div#mark423-player div.jp-eject a{
  text-decoration: none;
   color:#DD4B39;
 
}

div#mark423-player div.jp-play-pause a.jp-play{ padding-left: 5px; }
div#mark423-player div.jp-play-pause a.jp-pause{ padding-left: 2px; }
div#mark423-player div.jp-display {
  height: 65px;
  margin-left:80px;
  padding: 10px 15px 15px 15px;
  background-color:#f5f5f5;
  border:1px solid #e5e5e5;
  
  margin-bottom:9px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  margin-right: 65px;
}

div#mark423-player div.jp-display div.jp-current-time {
  font-size:25px;
  text-align: center;
  font-weight:900;
  letter-spacing: 3px;
  font-family: Arial;
  color: #DD4B39;
  margin-bottom:10px;
}

div#mark423-player div.jp-display div.jp-current-speaker,div#mark423-player div.jp-display div.jp-current-theme {
  font-size:14px;
  height:17px;
  overflow:hidden;
  
}

div#mark423-player div.jp-display span.label { 
  width:60px;
  display:inline-block;
}

div#mark423-playlist {
  margin-top:20px;
  padding:15px;
  background-color:#f5f5f5;
  border:1px solid #e5e5e5;
  
  margin-bottom:9px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}

div#mark423-playlist a{
  display:block;
  color:#555;
  padding:5px;
  text-decoration: none;
    margin-bottom:9px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  cursor:pointer;
}
div#mark423-playlist a:hover{
  color:#DD4B39;
}

div#mark423-playlist a.playing {
  background-color:#CCC;
  color:#333;
}

.shadow {
  -moz-box-shadow:    2px 2px 3px #aaa;
  -webkit-box-shadow: 2px 2px 3px #aaa;
  box-shadow:         2px 2px 3px #aaa;
}

div.jp-no-solution a{
  color:#DD4B39;
}

div.jp-no-solution {
  background-color:#e5e5e5;
  color:#DD4B39;
  position:absolute;
  height:200px;
  width:100%;
  font-size:20px;
  text-align:center;
  padding-top:50px;
  font-weight:900;
}