
  <div id="mark423-player-audio">
  </div>
  <div id="mark423-player" style='width: 100%'>
    <div class='jp-controls'>
      <div class='jp-play-pause shadow'>
        <a href="#" class="jp-play">p</a>
        <a href="#" class="jp-pause" style='display:none'>r</a>
      </div>
      <div class='jp-eject shadow'>
        <a href='#'>
        d
        </a>
      </div>
      <div class='jp-display shadow'>
        <div class='jp-current-time'></div>
        <div class='jp-current-speaker'><span class='label speaker-label'>Speaker: </span><span id='mark423-player-speaker'>Loading...</span></div>
        <div class='jp-current-theme'><span class='label theme-label'>Theme: </span></span><span id='mark423-player-theme'>Loading...</span></div>
      </div>
    </div>

    <div class='jp-volume-controls'>
      <div class='jp-mute'>,</div>
      <div class='jp-unmute'>m</div>
      <div class='jp-volume-bar shadow'>
        <div class='jp-volume-bar-value'>&nbsp;</div>
      </div>
    </div>  
    <div class='jp-progress shadow'>
      <div class='jp-seek-bar'>
        <div class='jp-play-bar'>&nbsp;</div>
      </div>
    </div>
   

  </div>
  <div id='mark423-playlist' class='shadow'>   
  </div>